/cross-venv
/native-venv
/build-index-venv
/python.webc
/python
/python-base
/python-with-packages
/*.build
/*.prepared
__pycache__
/dist
/package-list.jsonl
# Unpacked sdists
/pkgs/*.sdist
# Unpacked wheels
/pkgs/*.wheel
# Unpacked libs
/pkgs/*.lib
/pkgs/*.build
/pkgs/*.prepared
/pkgs/*.sysroot
/native-python-extracted