/artifacts/*.whl filter=lfs diff=lfs merge=lfs -text
/artifacts/*.tar.xz filter=lfs diff=lfs merge=lfs -text
/artifacts/*.tar.gz filter=lfs diff=lfs merge=lfs -text
/artifacts/*.webc filter=lfs diff=lfs merge=lfs -text
