[submodule "numpy"]
	path = numpy
	url = https://github.com/numpy/numpy.git
[submodule "markupsafe"]
	path = markupsafe
	url = https://github.com/pallets/markupsafe.git
[submodule "pandas"]
	path = pandas
	url = https://github.com/pandas-dev/pandas.git
