[submodule "numpy"]
	path = numpy
	url = https://github.com/numpy/numpy.git
[submodule "markupsafe"]
	path = markupsafe
	url = https://github.com/pallets/markupsafe.git
[submodule "pandas"]
	path = pandas
	url = https://github.com/pandas-dev/pandas.git
[submodule "pytz"]
	path = pytz
	url = https://github.com/stub42/pytz.git
[submodule "dateutil"]
	path = dateutil
	url = https://github.com/dateutil/dateutil.git
[submodule "tzdata"]
	path = tzdata
	url = https://github.com/python/tzdata.git
[submodule "six"]
	path = six
	url = https://github.com/benjaminp/six.git
