/cross-venv
/native-venv
/python.webc
/python
/python-with-packages
/python-with-libs
/*.build
/*.prepared
__pycache__
/dist
/package-list.jsonl
# Unpacked sdists
/pkgs/*.sdist
# Unpacked wheels
/pkgs/*.wheel
# Unpacked libs
/pkgs/*.lib
/pkgs/*.build
/pkgs/*.prepared
/pkgs/*.sysroot
